.contact_content{
    margin-top: 20rem;
    margin-bottom: 13.5rem;
}
.contact_content_inner{
    display: flex;
    gap: 2rem;
}
.contact_content_left, .contact_content_right{
    width: calc(50% - 1rem);
}
.contact_content_right{
    padding-inline: 6rem;
    .contact_content_right_item:last-child, .contact_content_right_item:first-child{
        display: block;
    }
    .contact_content_right_item:last-child{
        border-bottom: 0;
    }
    .contact_content_right_item:first-child{
        padding-top: 0;
    }
}
.contact_content_left{
    iframe{
        width: 100%;
        height: 100%;
    }
}
.about_border_bottom{
    padding-block: 3.2rem;
    border-bottom: 1px solid #CCCCCC;
}
.contact_content_right_item{
    display: flex;
    gap: .4rem;
}
.contact_content_right_item_card{
    width:  calc(33.33% - .26777rem);
}
.contact_content_right_item_social{
    width: 22.7rem;
}
.contact_content_right_item_work{
    flex: 1;
}
.contact_content_right_item_social_content{
    display: flex;
    gap: 1.6rem;
}
.contact_content_right_item_social_content_img{
    width: 2.5rem;
    svg{
        color: #1D1D1D;
    }
}
.contact_content_right_item_work_des{
    display: flex;
}
.contact_border_right{
    padding-right: 1rem;
    border-right: 1px solid #ccc;
    margin-right: 1rem;
}
.contact_content_right_item_social_label, .contact_content_right_item_card_label, .contact_content_right_item_title{
    margin-bottom: 1rem;
}
.contact_content_right_item_form_wrap{
    display: flex;
    justify-content: space-between;
    input{
        width: calc(50% - .2rem);
        padding: 1.8rem;
        font-size: 1.6rem;
        color: #7F7F7F;
        border: none;
        &:focus{
            outline: none;
        }
    }
}
.contact_content_right_item_form_txtarea{
    height: 20rem;
    margin-top: .4rem;
    width: 100%;
    textarea{
        padding: 1.8rem;
        font-size: 1.6rem;
        color: #7F7F7F;
        width: 100%;
        height: 100%;
        border: none;
        &:focus{
            outline: none;
        }
    }
}
.contact_content_right_item_form_title{
    text-transform: none;
    margin-bottom: 1rem;
}
.contact_content_right_item_form_button_txt {
    margin-bottom: 0 !important;
}
.contact_content_right_item_form_button_img{
    width: 2rem;
}
.contact_content_right_item_form_button{
    display: flex;
    gap: .8rem;
    align-items: center;
    width: max-content;
    padding: 1.2rem 2.5rem ;
    background-color: #0F2A1D;
    border-radius: 4.5rem;
    cursor: pointer;
    margin-top: 4.5rem;
}
@media screen and (max-width:991px) {
    .contact_content_left, .contact_content_right{
        width: 100%;
    }
    .contact_content_right{
        padding-inline: 0;
    }
    .contact_content_left{
        height: 90rem;
    }
    .contact_content{
        margin-top: 12rem;
        margin-bottom: 6rem;
    }
    .contact_content_right_item_form_txtarea{
        height: 15rem;
    }
    .contact_content_inner{
        flex-direction: column;
        gap: 4rem;
    }
}
@media screen and (max-width:767px){
    .contact_content_left{
        height: 35rem;
    }
    .contact_content{
        margin-top: 10rem;
        margin-bottom: 4rem;
    }
}