.customcake_content{
    margin-bottom: 10rem;
}
.customcake_content_inner{
    display: flex;
    justify-content: space-between;
}
.customcake_content_img, .customcake_content_info{
    width: calc(50% - 1rem);
}
.customcake_content_info{
    padding-inline: 6rem;
}
.customcake_content_info_subtitle{
    margin-bottom: 1.6rem;
}
.customcake_content_info_title{
    margin-bottom: 3.2rem;
}

.home_contact_form_subtitle::before{
    background-color: #fff;
}
.home_contact_form_subtitle{
    margin-bottom: 1.6rem;
}
.home_contact_form_title{
    text-transform: unset;
    width: 40.5rem;
    margin-bottom: 3.2rem;
}
.home_contact_form_name{
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    input{
        width: 100%;
    }
}
.home_contact_form{
    input, textarea, select{
        background-color: #fff;
        /* opacity: .1; */
        padding: 2rem;
        color: #7F7F7F;
        font-size: 1.6rem;
        line-height: 1.4em;
        border: none;
        border-radius: .5rem;
        appearance: none;
    }

    input::placeholder,
    textarea::placeholder {
    color: #7F7F7F;
    opacity: 1;  /* Quan trọng cho Firefox */
    }
    .home_hero_des_link {
        width: 13.4rem;
    }
    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
    }
}
.home_contact_form_info{
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
    gap: .5rem;
    input{
        width: 50%;
    }
    .home_contact_form_info_select{
        position: relative;
        width: 50%;
        select{
            width: 100%;
        }
    }
}
.home_contact_form_design{
    width: 100%;
    textarea{
        width: 100%;
        height: 100%;
        min-height: 8rem;
    }
}
.home_contact_form_upload{
    background-color: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #7F7F7F;
    p{
        pointer-events: none;
        position: absolute;
        bottom: 0;
        bottom: 1.2rem;
    }
}
.home_contact_form_upload_img{
    position: absolute;
    top: 1.2rem;
    width: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
}
.home_contact_form_upload_icon{
    width: 2rem;
}
.upload-label{
    display: flex;
    gap: .8rem;
    padding-top: 5.2rem;
    padding-bottom: 4rem;
    padding-inline: 20rem;
}
.home_contact_form_info_img{
    width: 2rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.remove-file {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  color: #7F7F7F;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.home_hero_des_link{
    background-color: #0F2A1D !important;
}

@media screen and (max-width:991px){
    .customcake_content_inner{
        flex-direction: column;
        gap: 4rem;
    }
    .customcake_content_img, .customcake_content_info{
        width: 100%;
    }
    .customcake_content_info{
        padding-inline: 0;
    }
    .home_contact_form_title{
        font-size: 2.7rem;
        margin-bottom: 1.2rem;
    }
    .home_contact_form{
        input, textarea, select{
            padding: .7rem;
            color: #BABABA;
            font-size: 1.2rem;
            border: none;
            border-radius: .5rem;
            appearance: none;
        }
        input::placeholder,
        textarea::placeholder {
        color: #BABABA;
        opacity: 1;  /* Quan trọng cho Firefox */
        }
        .home_hero_des_link {
            width: 13.4rem;
        }
        textarea{
            min-height:6rem ;
        }
    }
}
@media screen and (max-width:767px){
    .home_contact_form{
        position: unset;
        width: 100%;
        transform: translateX(0);

    }
    .home_contact_form{
        input, textarea, select{
            padding: 1rem;
            color: #BABABA;
            font-size: 1.2rem;
            border: none;
            border-radius: .5rem;
            appearance: none;
        }
    }
}