body{
  background-color: #F7FCEF;
}
/* hero */
.home_hero_des{
  position: absolute;
  left: 4rem;
  bottom: 20rem;
}
.home_hero_des_link{
  margin-top: 3.2rem;
}
.home_hero_des_link_txt{
  color: #1D1D1D;
}
.home_hero_des{
  max-width: 69rem;
  width: 100%;
}
.home_hero_des_link{
  display: flex;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  align-items: center;
  gap: .8rem;
  width: 17.5rem;
  border-radius: 4.5rem;
}
.home_hero_des_link_icon{
  width: 2rem;
}
.home_hero_des_subtitle{
  margin-bottom: 1rem;
  position: relative;
  &::before{
      background-color: #fff;
  }
}
.home_hero_pagination .swiper-pagination-bullet{
  background-color: #fff;
  opacity: .7;
  border-radius:1.2rem ;
  width: 4.8rem;
  height: .4rem;
  margin-inline: .2rem !important;
  &.swiper-pagination-bullet-active{
      opacity: 1;
  }
}
.home_seller_content_subtitle{
  &::before{
      background-color: #1D1D1D;
  }
}

/* home_seller */

.home_seller{
  padding-top: 12rem;
}
.home_seller_content_subtitle{
  margin-bottom: 1.6rem;
}
.home_seller_category_item{
  cursor: pointer;
&::before{
  background-color: #1D1D1D;
}   
}
.home_seller_inner{
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.home_seller_category{
  display: flex;
  gap: 3.2rem;
}
.home_seller_silder{
  padding-bottom: 5rem;
}
.home_seller_silder_item_top_type{
  width: 11.5rem;
  display: flex;
  justify-content: center;
  border-radius: 2.5rem;
  padding-block: .4rem;
  background-color: #fff;
  margin-bottom: .8rem;

}
.home_seller_silder_item_img {
  aspect-ratio: 396/500;
}
.home_seller_silder_item_top_soldout{
  display: none;
  background-color: #1D1D1D;
  color: #fff;
  width: 7.5rem;
  justify-content: center;
  padding-block: .4rem;
  border-radius: 2.5rem;
  &.active{
      display: flex;
  }
}
.home_seller_silder_item_top{
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.home_seller_silder_item_info_price{
  span:last-child{
      text-decoration: line-through;
      color: #7F7F7F;
  }
}
.home_seller_silder_item_info{
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  height: 9.2rem;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  &:hover{
      .home_seller_silder_item_info_cart_wrap{
          opacity: 1;
          pointer-events: all;
      }
  }
}
.home_seller_silder_item_info_cart_wrap{
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 2.5rem;
  border-radius: .3rem;
  background-color: #0F2A1D;
  top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_seller_silder_item_info_cart{
  width: 2.5rem;
  cursor: pointer;
}
.home_seller_silder_item_info_cart_wrap{
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;
}
.home_seller_silder_wrap{
      transition-timing-function: linear;
}
.home_seller_pagination{
  top: unset !important;
  bottom: 0;
  width: 30rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: #fff;
  span{
      background-color: #1D1D1D !important;
  }
}
/* home_cookie */

.home_cookie_slide{
  position: absolute;
  top: 50%;
  left: 4rem;
  right: 4rem;
  transform: translateY(-50%)

}
.home_cookie_img_wrap{
  position: relative;
}
.home_cookie_img_block{
  padding-top:47.164% ;
}
.home_cookie{
  position: relative;
  padding-top: 12rem;
  overflow: hidden;
}
.home_cookie_slide_list_item {
  width: 106.7rem;
}
.home_cookie_slide_list{
  overflow: visible !important;
  width: 100%;


}

/* home_about */
.home_about{
  padding-top: 12rem;
}
.home_about_content_subtitle{
  margin-bottom: 1.5rem;
}
.home_about_content{
  width: 61rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6.5rem;
}
.home_about_content_title{
  text-transform: unset;
}
.home_about_inner{
  padding-bottom: 12rem;
  display: flex;
  gap: 10rem;
  padding-inline: 18.5rem;
}
.home_about_item{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_about_item_des{
  p{
      margin-bottom: 1.5rem;
  }
  & p:last-child{
      margin-bottom: 0;
  }
}
.home_about_item_border{
  margin-top: 8.5rem;
  border-top: 2px solid #0F2A1D;
  border-bottom: 2px dashed #0F2A1D;
  height: 1.2rem;
  width: 100%;
}
.home_about_item_link{
  margin-top: 3.2rem;
  display: flex;
  gap: .8rem;

}
.home_about_item_link{
  color: #1D1D1D;
}
.home_about_slide_item_info{
  position: absolute;
  height: 9.6rem;
  bottom: 2.5rem;
  left: 2.5rem;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  right: 2.5rem;
  background-color: #fff;
}
.home_about_slide_item_info_icon{
  position: absolute;
  right: 2.5rem;
  width: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
}
.home_about_slide_wrap{
      transition-timing-function: linear;
}