body{
    background-color: #F7FCEF;
}
/* hero */
.home_hero_des{
    position: absolute;
    left: 4rem;
    bottom: 20rem;
}
.home_hero_des{
    max-width: 69rem;
    width: 100%;
}
.home_hero_des_subtitle{
    margin-bottom: 1rem;
    position: relative;
    &::before{
        background-color: #fff;
    }
}
.home_hero_pagination .swiper-pagination-bullet{
    background-color: #fff;
    opacity: .7;
    border-radius:1.2rem ;
    width: 3.2rem;
    height: .4rem;
    transition: opacity .4s ease, width .4s ease;
    margin-inline: .2rem !important;
    &.swiper-pagination-bullet-active{
        opacity: 1;
        width: 4.8rem;
    }
}
.home_seller_content_subtitle{
    &::before{
        background-color: #1D1D1D;
    }
}
.home_hero_img {
    height: 100vh;
}
@media screen and (max-width:991px) {
    .home_hero_pagination .swiper-pagination-bullet {
        width: 2rem;
        &.swiper-pagination-bullet-active{
            opacity: 1;
            width: 2.4rem;
        }
    }
    .home_seller_content_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_hero_des{
        bottom: 6rem;
        left: 2rem;
        max-width: 38rem;
    }
    .home_hero .home_hero_des_link{
        margin-inline: unset;
    }
    .home_hero_img {
        height: 60rem;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
@media screen and (max-width:767px){
    .home_hero_des{
        max-width: 36rem;
        bottom: 50%;
        transform: translate(-50%, 50%);
        left: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home_hero_img {
        height: 51rem;
    }
}
/* home_seller */

.home_seller{
    padding-block: 12rem;
}
.home_seller_content_subtitle{
    margin-bottom: 1.6rem;
}
.home_seller_category_item{
    cursor: pointer;
 &::before{
    background-color: #1D1D1D;
}   
}
.home_seller_inner{
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.home_seller_category{
    display: flex;
    gap: 3.2rem;
}
.home_seller_silder{
    padding-bottom: 5rem;
    overflow: visible;
}
.home_seller_silder_item_top_type{
    width: 11.5rem;
    display: flex;
    justify-content: center;
    border-radius: 2.5rem;
    padding-block: .4rem;
    background-color: #fff;
    margin-bottom: .8rem;

}
.home_seller_silder_item_info_title {
    margin-bottom: .6rem;
}
.home_seller_silder_item_img {
    aspect-ratio: 396/500;
}
.home_seller_silder_item_top_soldout{
    display: none;
    background-color: #1D1D1D;
    color: #fff;
    width: 7.5rem;
    justify-content: center;
    padding-block: .4rem;
    border-radius: 2.5rem;
    &.active{
        display: flex;
    }
}
.home_seller_silder_item_top{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 10;
}
.home_seller_silder_item_info_price{
    span:last-child{
        text-decoration: line-through;
        color: #7F7F7F;
    }
}
.home_seller_silder_item_info{
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: .5rem;
    &:hover{
        .home_seller_silder_item_info_cart_wrap{
            opacity: 1;
            pointer-events: all;
        }
    }
}
.home_seller_silder_item_info_cart_wrap{
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 2.5rem;
    border-radius: .3rem;
    background-color: #0F2A1D;
    top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_seller_silder_item_info_cart{
    width: 2.5rem;
}
.home_seller_silder_item_info_cart_wrap{
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: all .4s ease;
}
.home_seller_silder_wrap{
        transition-timing-function: linear;
}
.home_seller_pagination{
    top: unset !important;
    bottom: 0;
    width: 30rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff;
    span{
        background-color: #1D1D1D !important;
    }
}
@media screen and (max-width:991px) {
    .home_seller_content{
        width: 100%;
    }
    .home_seller_category{
        width: 100%;
        gap: 2rem;
        /* justify-content: space-between; */
    }
    .home_seller_category_item::before{
        top: 43%;
    }
    .home_seller_silder_item_top {
        top: 1.5rem;
        left: 1.5rem;
        right: 1.5rem;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        * {
            padding-top: .7rem;
            line-height: 1 !important;
        }
    }
    
    .home_seller_silder_item_top_type{
        margin-bottom: 0;
    }
    .home_seller_silder_item_info{
        padding: 2rem;
        inset: 2rem;
        top: unset;
        height: 7.2rem;
    }
    .home_seller_silder {
        padding-bottom: 4rem;
    }
    .home_seller_silder_item_info_cart_wrap{
        opacity: 1;
        pointer-events: all;
        width: 3rem;
        height: 3rem;
        right: 2rem;
        top: 2rem;
    }
    .home_seller_silder_item_info_cart {
        width: 2rem;
    }
    .home_seller{
        padding-block: 6rem;
    }
    .home_seller_inner{
        margin-bottom: 4rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;
    }
}
@media screen and (max-width:767px){
    .home_seller_silder_item_img {
        aspect-ratio: .9;
    }
    .home_seller_inner{
        flex-direction: column;
        row-gap: 2rem;
    }
    .home_seller_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home_seller_category{
        width: 100%;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
    }
    .home_seller_category_item {
        width: max-content;
    }
    .home_seller_content_subtitle {
        margin-bottom: 1rem;
    }
    .home_seller_silder_item{
        width: 100% !important;
    }
}

/* home_cookie */
.home_cookies{
    position: relative;
    contain: paint;
    height: 600vh;
}
.home_cookies_bg {
    z-index: 0;
    position: absolute;
    inset: 0;
}
.home_cookies_bg_inner {
    grid-template-columns: minmax(1px, 1fr);
    grid-auto-columns: minmax(1px, 1fr);
    display: grid;
    position: sticky;
    top: 0;
}
.home_cookies_overlay {
    z-index: 1;
    background-color: #00000080;
    position: absolute;
    inset: 0;
}
.home_cookies_bg_item {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100vh;
}
.home_cookies_bg_item_inner {
    width: 100%;
    height: 100%;
}
.home_cookies_bg_item_info{
    display: none;
}
.home_cookies_content {
    z-index: 2;
    align-items: center;
    height: 100vh;
    transition: filter .4s;
    display: flex;
    position: sticky;
    top: 0;
    gap: 1.6rem;
    justify-content: center;
    flex-direction: column;
}
.home_cookies_content_item {
    color: #FFFFFF80;
    display: flex;
    transition: color .4s ease, transform .4s ease;
    transform-origin: left center;
}
.home_cookies_content_item_title {
    margin-top: 1.7rem;
}
.home_cookies_content_item.active {
    color: #fff;
    transform: scale(1.1);
}
@media screen and (max-width:991px) {
    .home_cookies{
        height: auto;
    }
    .home_cookies_content{
        display: none;
    }
    .home_cookies_bg {
        position: relative;
    }
    .home_cookies_bg_inner{
        display: flex;
        position: static;
        flex-direction: column;
    }
    .home_cookies_bg_item_inner {
        transform: scale(1.2);
        transform-origin: top;
        position: relative;
    }
    .home_cookies_bg_item_inner:after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #00000080;
        z-index: 1;
        pointer-events: none;
    }
    .home_cookies_overlay {
        display: none;
    }
    .home_cookies_bg_item {
        position: relative;
        aspect-ratio: 834 / 539;
        height: auto;
        overflow: hidden;
    }
    .home_cookies_bg_item_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2rem;
        position: absolute;
        inset: 0;
        color: white;
    }
    .home_cookies_bg_item_info_link  {
        color: white;
    }
}
/* home_about */
.home_about{
    padding-top: 12rem;
}
.home_about_content_subtitle{
    margin-bottom: 1.6rem;
}
.home_about_content{
    width: 61rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6.5rem;
}
.home_about_content_title{
    text-transform: unset;
}
.home_about_inner{
    padding-bottom: 12rem;
    display: flex;
    gap: 10rem;
    padding-inline: 18.5rem;
}
.home_about_item{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.img_full{
        height: 100%;
    }
}
.home_about_item_inner {
    height: 100%;
    border-radius: 20rem 20rem 0 0;
    overflow: hidden;
    img {
        height: 100%;
    }
}
.home_about_item_des{
    p{
        margin-bottom: 1.5rem;
    }
    & p:last-child{
        margin-bottom: 0;
    }
}
.home_about_item_border{
    margin-top: 8.5rem;
    border-top: 2px solid #0F2A1D;
    border-bottom: 2px dashed #0F2A1D;
    height: 1.2rem;
    width: 100%;
}
.home_about_item_link{
    margin-top: 3.2rem;
    display: flex;
    gap: .8rem;

}
.home_about_item_link{
    color: #1D1D1D;
}
.home_about_slide_item_info{
    position: absolute;
    height: 9.6rem;
    bottom: 2.5rem;
    left: 2.5rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    right: 2.5rem;
    background-color: #fff;
}
.home_about_slide_item_info_icon{
    position: absolute;
    right: 2.5rem;
    width: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
}
.home_about_slide_wrap{
        transition-timing-function: linear;
}
.home_about_slide{
    overflow: visible;
}

@media screen and (max-width:991px){
    .home_about_item_inner {
        border-radius: 0;
        overflow: hidden;
    }
    .home_about_item {
        width: 100%;
        order: 2;
        &.img_full {
            height: 60rem;
            order: 1;
            margin-bottom: 4rem;
        }
    }
    .home_about_content {
        margin-left: 0;
        align-items: start;
        .txt_center {
            text-align: start;
        }
    }
    .home_about_item_border {
        display: none;
    }
    .home_about_content_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_about{
        padding-top: 6rem;
    }
    .home_about_content{
        width: 43rem;
    }
    .home_about_inner{
        flex-direction: column;
        gap: 0rem;
        padding-inline: 0;
        padding-bottom: 6rem;
    }
    .home_about_item_border{
        margin-top: 2.5rem;
    }
    .home_about_item_link{
        margin-top: 2.4rem;
    }
    .home_about_slide_item_info{
        padding-right: 5rem;
    }
    .home_about_content{
        margin-bottom: 4rem;
    }
}
@media screen and (max-width:767px){
    .home_about_item  {
        &.img_full {
            height: 48rem;
            margin-bottom: 2rem;
        }
    }
   
    .home_about_inner{
        flex-direction: column;
        column-gap: 0;
        padding-inline: 0;
    }
    .home_about_item{
        width: 100%;
    }
    .home_about_item_border{
        display: none;
    }
    .home_about_item_link{
        margin-top: 2rem;
    }
    
    .home_about_slide_item_info{
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 4rem;
        height: 8.6rem;
    }
    .home_about_slide_item_info_icon {
        width: 1.5rem;
    }
    .home_about_content{
        width: 100%;
        align-items: center;
        .txt_center {
            text-align: center;
        }
    }
}

/* home_discover */
.home_discover{
    padding-block: 14rem;
}
.home_discover_subtitle{
    margin-bottom: 1.6rem;
}
.home_discover_title{
    margin-bottom: 5rem;
}
.home_discover_card{
    .home_seller_silder_item:nth-child(1){
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .home_seller_silder_item:nth-child(2){
        grid-column: 5/9;
        grid-row: 1/2;
    }
    .home_seller_silder_item:nth-child(3){
        grid-column: 13/17;
        grid-row: 1/2;
    }
    .home_seller_silder_item:nth-child(4){
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .home_seller_silder_item:nth-child(5){
        grid-column: 9/13;
        grid-row: 2/3;
    }
    .home_seller_silder_item:nth-child(6){
        grid-column: 13/17;
        grid-row: 2/3;
    }
    .home_seller_silder_item{
        position: relative;
    }
}

@media screen and (max-width:991px){
    .home_discover_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_discover{
        padding-block: 6rem;
    }
    .home_discover_title{
        margin-bottom: 4rem;
    }
    .home_discover_card{
        display: flex !important;
        flex-wrap: wrap;
        gap: 1.5rem;
        .home_seller_silder_item{
            width: calc(33.33% - 1rem);
        }
    }
}
@media screen and (max-width:767px){
    .home_discover_card{
        flex-wrap: unset;
        transition-timing-function: linear;
    }
    
}


/* home_course */
.home_course{
    position: relative;
}
.home_course_info_txt{
    color: #ffffff63;
}
.home_course_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 100rem;
}
.home_course_info .home_hero_des_link{
    margin-inline: auto;
}
@media screen and (max-width:991px){
    .home_course_img {
        height: 47rem;
        img {
            height: 100%;
        }
    }
    .home_course_info{
        width: 65rem;
    }
}
@media screen and (max-width:767px) {
    .home_course_info{
        width: 40rem !important;
    }
}
/* home_review */
.home_review_left{
    grid-column:1/5 ;
}
.home_review_right{
    grid-column: 7/17;
}
.home_review_left_amount{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.home_review_left_amount_icon{
    width: 7rem;
}
.home_review_left_info{
    margin-bottom: 3rem;
}
.home_review_left_subtitle{
    margin-bottom: 1.6rem;
}
.home_review_left_amount_txt {
    font-weight: 600;
}
.home_review{
    padding-block: 12rem;
}
.home_review_right_img{
    width: 100%;
}
.home_review_right_slide_item_icon{
    width: 2rem;
}
.home_review_right_slide_item_icon_wrap{
    display: flex;
}
.home_review_right_slide{
    padding-top: 6.5rem;
}
.home_review_right_slide_wrap{
    transition-timing-function: linear;
}
.home_review_right_slide_item_content{
    color: #1D1D1D;
}
.home_review_right_slide_item_icon_wrap{
    margin-bottom: 1.5rem;
}
.home_review_right_slide_item_content{
    margin-bottom: 1.5rem;
}
.home_review_inner{
    padding-bottom: 2rem;
}
@media screen and (max-width:991px){
    .home_review_left_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_review{
        padding-block: 6rem;
    }
    .home_review_inner {
        display: flex;
        flex-direction: column;
    }
    .home_review_right {
        margin-right: 0;
    }
}
@media screen and (max-width:767px){
    .home_review_inner {
        padding-bottom: 0;
        gap: 4rem;
    }
    .home_review_left_info{
        margin-bottom: 1rem;
    }
    .home_review{
        padding-block: 6rem;
    }
    .home_review_right_slide {
        padding-top: 4rem;
    }
}

/* home_contact */

.home_contact{
    position: relative;
}
.home_contact_form_subtitle::before{
    background-color: #fff;
}
.home_contact_form{
    position: absolute;
    right: 14rem;
    top: 0;
    bottom: 0;
    width: 72.5rem;
    padding: 9rem;
    z-index: 10;
    background-color: #0F2A1D;
}
.home_contact_form_subtitle{
    margin-bottom: 1.6rem;
}
.home_contact_form_title{
    text-transform: unset;
    width: 40.5rem;
    margin-bottom: 3.2rem;
}
.home_contact_form_name{
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    input{
        width: 100%;
    }
}
.home_contact_form{
    input, textarea, select{
        background-color: #ffffff10;
        /* opacity: .1; */
        padding: 2rem;
        color: #BABABA;
        font-size: 1.6rem;
        line-height: 1.4em;
        border: none;
        border-radius: .5rem;
        appearance: none;
    }

    input::placeholder,
    textarea::placeholder {
    color: #BABABA;
    opacity: 1;  /* Quan trọng cho Firefox */
    }
    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
    }
}
.home_contact_form_info{
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
    gap: .5rem;
    input{
        width: 50%;
    }
    .home_contact_form_info_select{
        position: relative;
        width: 50%;
        select{
            width: 100%;
        }
    }
}
.home_contact_form_design{
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
    textarea{
        width: 100%;
        height: 100%;
        min-height: 8rem;
    }
}
.home_contact_form_upload{
    background-color: #ffffff10;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #BABABA;
    border-radius: .5rem;
    p{
        pointer-events: none;
        position: absolute;
        bottom: 0;
        bottom: 1.2rem;
    }
}
.home_contact_form_upload_img{
    position: absolute;
    top: 1.2rem;
    width: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
}
.home_contact_form_upload_icon{
    width: 2rem;
}
.upload-label{
    display: flex;
    gap: .8rem;
    padding-top: 5.2rem;
    padding-bottom: 4rem;
    padding-inline: 20rem;
}
.home_contact_form_info_img{
    width: 2rem;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.remove-file {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media screen and (max-width:991px){
    .home_contact_form_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_contact_form{
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 51rem;
        padding: 4rem 2rem;
    }
    .home_contact_form_title{
        font-size: 2.7rem;
    }
    .home_contact_form{
        input, textarea, select{
            padding: 1.2rem;
            color: #BABABA;
            font-size: 1.6rem;
            border: none;
            border-radius: .5rem;
            appearance: none;
        }
        input::placeholder,
        textarea::placeholder {
        color: #BABABA;
        opacity: 1;  /* Quan trọng cho Firefox */
        }
    }
    .home_contact_img {
        height: 62rem;
    }
    .upload-label{
        padding-bottom: 3.2rem;
        padding-inline: 0;
        align-items: center;
        padding-top: 1.5rem;
    }
    .home_hero_des_link{
        margin-inline: auto;
    }
}
@media screen and (max-width:767px){
    .home_contact_img {
        display: none !important;
    }
    .home_contact_form{
        position: unset;
        width: 100%;
        transform: translateX(0);
        padding-block: 6rem;
    }
    .home_contact_form{
        input, textarea, select{
            padding: 1rem;
            color: #BABABA;
            font-size: 1.6rem;
            border: none;
            border-radius: .5rem;
            appearance: none;
        }
    }
}


/* home_workshop */
.home_workshop_info{
    width: 40.6rem;
    margin-bottom: 5rem;
}
.home_workshop{
    padding-block: 14rem;
}
.home_workshop_inner{
    overflow: hidden;

}
.home_workshop_slide_item_img{
    margin-bottom: 1.5rem;
}
.home_workshop_info_subtitle{
    margin-bottom: 1.6rem;
}
.home_workshop_slide_item_info{
    display: flex;
    margin-bottom: 1.5rem;
    .home_workshop_slide_item_info_item{
        padding-inline: 1rem;
        border-right: 1px solid #CCCCCC;
    }
    .home_workshop_slide_item_info_item:first-child{
        padding-left: 0;
    }
    .home_workshop_slide_item_info_item:last-child{
        padding-right: 0;
        border-right: 0;
    }
    .home_workshop_slide_item_title{
        margin-bottom: 1.5rem;
    }
    
}
.home_workshop_slide_swap{
    transition-timing-function: linear;
}
.home_workshop_pagination{
    top: unset !important;
    bottom: 0;
    width: 30rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff;
    span{
        background-color: #1D1D1D !important;
    }
}
.home_workshop_slide{
    padding-bottom: 5rem;
    overflow: visible;
}
@media screen and (max-width:991px) {
    .home_workshop_info_subtitle {
        margin-bottom: 1.2rem;
    }
    .home_workshop{
        padding-block: 6rem;
    }
    .home_workshop_info {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width:767px){
    .home_workshop_info_title {
        max-width: 32rem;
    }
}

/* home_cake */

.home_cake_slide  {
    overflow: visible;
}
.home_cake_slide_wrap{
    transition-timing-function: linear;
}