html {
  font-size: 0.5787037037vw;
}
:root {
  --padding-container : 4rem;
}
p{
  margin-bottom: 0;
}
a{
  text-decoration: none;
  display: block;
  color: #3B3B3B;
}
@font-face {
  font-family: "Figtree";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Figtree-Regular.woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Figtree-Medium.woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Figtree-SemiBold.woff2");
}
@font-face {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Anton-Regular.woff2");
}
*{
  box-sizing: border-box;
}
.btn_txt_wrap {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  .btn_txt {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: transform .65s cubic-bezier(.785,.135,.15,.86);
    &:nth-child(2) {
      transform: translateY(100%);
    }
  }
}
.btn_ic_wrap {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  .btn_ic {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: transform .65s cubic-bezier(.785,.135,.15,.86);
    &:nth-child(2) {
      transform: translateY(100%);
    }
  }
}
.btn {
  transition: color .65s cubic-bezier(.785,.135,.15,.86);
}
/* .btn_black {
  position: relative;
  overflow: hidden;
  &:after {
    background-color: #1D1D1D;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform .65s cubic-bezier(.785,.135,.15,.86);
    transform: scaleY(0);
    transform-origin: bottom;
  }
  * {
    z-index: 1;
    position: relative;
  }
}
.btn_black:hover {
  color: white;
  &:after {
    transform: scaleY(1);
  }
}*/
.cursor {
    z-index: 2000;
    pointer-events: none;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: fixed;
    inset: 0;
    &.on-hover-hidden .cursor-inner {
      opacity: 0;
    }
}

.cursor-main {
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  display: flex;
  position: relative;
}
.cursor-inner {
  background-color: #1D1D1D;
  opacity: 0;
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  transition: all .4s;
  display: flex;
  position: relative;
  &.active {
    opacity: 1;
  }
  &.on-hover-sm {
    width: .6rem;
    height: .6rem;
  }
}
.cursor.on-hover-explore .cursor-inner-explore-txt, .cursor.on-hover-drag .cursor-inner-drag-txt, .cursor.on-hover-detail .cursor-inner-detail-txt {
  transform: scale(1);
}
.cursor.on-hover-explore .cursor-inner, .cursor.on-hover-drag .cursor-inner, .cursor.on-hover-detail .cursor-inner {
  width: 12rem;
  height: 12rem;
  background-color: transparent;
  border: 1px solid #fff;
}
.txt_16.cursor-inner-explore-txt, .txt_16.cursor-inner-drag-txt, .txt_16.cursor-inner-detail-txt {
  color: #fff;
  transition: all .4s;
  position: absolute;
  transform: scale(0);
}
.btn:hover .btn_txt_wrap .btn_txt:nth-child(2) {
  transform: translateY(0);
} 
.btn:hover .btn_ic_wrap .btn_ic:nth-child(2) {
  transform: translateY(0);
}
.btn:hover .btn_txt_wrap .btn_txt:nth-child(1) {
  transform: translateY(-100%);
}
.btn:hover .btn_ic_wrap .btn_ic:nth-child(1) {
  transform: translateY(-100%);
}
.border_line{
  position: relative;
  width: max-content;
  &>div{
    content: "";
    background-color: #7F7F7F;
    width: 0;
    height: 1px;
    left: 0;
    position: absolute;
    transition: all .3s ease;
    bottom: 0;
  }
  &:hover>div{
    width: 100%;
  }
}
body {
  margin: 0 !important;
  font-family: 'Figtree';
  color: #3B3B3B;
  background-color: #F7FCEF;
}
.kl_container {
  width: 100%;
  max-width: 100%;
  padding-inline: var(--padding-container);
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.hidden{
  display: none;
}
h1, h2{
  margin: 0;
}
@media only screen and (max-width: 991px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 1.30208333333vw;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 2.27272727273vw;
  }
}
.home_hero_des_link{
    margin-top: 3.2rem;
    color: #1D1D1D;
}

.home_hero_des_link{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1.2rem 2.4rem;
    align-items: center;
    gap: .8rem;
    width: max-content;
    border-radius: 4.5rem;
    cursor: pointer;
    border: none !important;
}
.home_hero_des_link_icon{
    width: 2rem;
}
/* <a href="#" class="home_hero_des_link txt_uppercase">
                    <div class="home_hero_des_link_txt txt_16">order now</div>
                    <div class="home_hero_des_link_icon img_full">
                        <img src="/asset/img/arrow-up-right.svg" alt="">
                    </div>
                </a> */
.img_abs{
  position: relative;
  img{
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.svg_full{
  width: 100%;
}
.block_title{
  position: relative;
  padding-left: 2rem;
  &::before{
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #1D1D1D;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  }

}
.txt_title{
  font-size: 5.2rem;
  line-height: 1.05em;
  font-weight: 500;
  color: #1D1D1D;
}
.split-line {
  overflow: hidden;
}
.txt_subtitle{
  font-size: 1.6rem;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: #1D1D1D;
  margin-bottom: .8rem;
}
.txt_bold {
  font-weight: 700;
}
.txt_12{
  font-size: 1.2rem;
  line-height: 1.2em;
}
.txt_14 {
  font-size: 1.4rem;
  line-height: 1.2em;
}
.txt_16 {
  font-size: 1.6rem;
  line-height: 1.5em;
}
.txt_18{
  font-size: 1.8rem;
  line-height: 1.244em;
}
.txt_24{
  font-size: 2.4rem;
  line-height: 1.05em;
}
.txt_20{
  font-size: 2rem;
  line-height: 1.2em;
}
.txt_32{
  font-size: 3.2rem;
  line-height: 1.05;
}
.txt_40{
  font-size: 4rem;
  line-height: 1.5;
}
.txt_44{
  font-size: 4.4rem;
  line-height: 1.05;
}
.txt_48{
  font-size: 4.8rem;
  line-height: 1.5;
}
.txt_64{
  font-size: 6.4rem;
  line-height: 1.05em;
}
.txt_70{
  font-size: 7rem;
  line-height: 1.14em;
}
.txt_72{
  font-size: 7.2rem;
  line-height: 1;
}
.line_arr {
  display: flex;
  overflow: hidden;
}
.line.line_main {
  background-color: currentColor;
  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease;
}
.line.line_clone {
  background-color: currentColor;
  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease;
  overflow: hidden;
  transform: translateX(calc(-200% - 2rem));
}
.line {
  flex: none;
  width: 100%;
  height: 1px;
  position: relative;
}
.line-anim.line-anim-hover {
  background-color: #0000;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.line-anim {
  z-index: 1;
  pointer-events: none;
  background-color: #c0c5c4;
  width: 100%;
  height: max(1px, .1rem);
  transition: background-color .4s;
}
.hover-un {
  position: relative;
}
.hover-un:hover .line-anim-inner-hover {
  transform: scaleX(1);
  transform-origin: left;
}
.hover-un .line-anim-inner-hover {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .6s ease;
}
.line-anim-inner {
  width: 100%;
  height: 100%;
}
.line-anim-inner.line-anim-inner-hover {
  background-color: currentColor;
  position: relative;
}
.hover_arr:hover .line_main {
  transform: translateX(calc(100% + 2rem));
}
.hover_arr:hover .line_clone{
  transform: translateX(-100%);
}
.left_full {
  margin-left: calc(var(--padding-container)*-1);
}
.right_full {
  margin-right: calc(var(--padding-container)*-1);
}
.img_full{
  display: flex;
}
.img_full img{
  width: 100%;
  object-fit: cover;
}
.img_fullfill img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt_justify {
  text-align: justify;
}
.txt_center{
  text-align: center;
}
.txt_title_color{
  color: #1D1D1D;
  p{
    margin-bottom:0;
  }
}
.txt_opacity_70{
  opacity: .7;
}
.img_radius{
  border-radius: 2rem;
}
.bg_line{
  background: #F5F5F5 url('/assets/img/bg_line.png') repeat;
  background-size: auto;
}
.tablet{
  display: none;
}
.mobile{
  display: none;
}
.txt_uppercase{
  text-transform: uppercase;
}
.txt_wh_500{
  font-weight: 500;
}
.color_white{
  color: #fff;
}
.overflow_hidden {
  overflow: hidden;
}
@media only screen and (max-width: 991px){
  .desktop{
    display: none !important;
  }
  .kl_grid {
  column-gap: 2rem;
}
  .tablet{
    display: block;
  }
.txt_18{
  font-size: 1.6rem;
}
.txt_24{
  font-size: 1.8rem;
}
.txt_32{
  font-size: 2.8rem;
}
.txt_40{
  font-size: 2.5rem;
}
.txt_44{
  font-size: 3.5rem;
}
.txt_48{
  font-size: 4rem;
}
.txt_64{
  font-size: 3.6rem;
  line-height: 1.15;
}
.txt_70{
  font-size: 4rem;
}
.txt_72{
  font-size: 4rem;
}
.txt_title{
  font-size: 3.5rem;
}
.txt_subtitle{
  font-size: 1.4rem;
}
.home_hero_des_link{
    margin-top: 2.2rem;
}
.home_hero_des_link{
    padding: 1.2rem 2.4rem;
    gap: .8rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: 1rem;
      height: 1rem;
  }

}
}
@media only screen and (max-width: 767px){
  .mobile{
    display: block;
  }
  .middle{
    display: none;
  }

.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}
.txt_center_mb{
  text-align: center;
}
.bg_line_mb{
  background: url('/assets/img/line-th2.png') repeat;
  background-size: auto;
}
.txt_18{
  font-size: 1.6rem;
}
.txt_24{
  font-size: 1.8rem;
}
.txt_32{
  font-size: 2.4rem;
}
.txt_40{
  font-size: 2.8rem;
}
.txt_44{
  font-size: 3rem;
}
.txt_48{
  font-size: 3.2rem;
}
.txt_64{
  font-size: 3.2rem;
}
.txt_70{
  font-size: 3.4rem;
}
.txt_72{
  font-size: 4rem;
}
.txt_title{
  font-size: 3.6rem;
}
.txt_subtitle{
  font-size: 1.4rem;
}
.home_hero_des_link{
    margin-top: 2rem;
    padding: 1rem 2rem;
    gap: .4rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: .8rem;
      height: .8rem;
  }

}
}


/* header */

.header_menu{
  display: flex;
  width: calc(50% - 4.65rem);
  gap: 2.5rem;
}
.header{
  position: fixed;
  z-index: 1000;
  inset: 0;
  bottom: unset;
  background-color: transparent;
  padding-block: 1.2rem;
  color: white;
  transition: transform .4s ease, border-color .4s ease, background-color .4s ease;
  border-bottom: 1px solid transparent;
  &.on_hide {
    transform: translateY(-102%);
  }
  &.on_scroll, &.on_dark {
    color: black;
    background-color: #F7FCEF;
    border-color: #ccc;
    .header_logo_inner {
      color: #7E9869;
    }
  }
}
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo_inner{
  width: 9.3rem;
  transition: color .4s ease;
  color: currentColor;
  svg{
    width: 100%;
  }
}
.header_icon_inner{
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
}
.header_icon_item_wrap{
  display: flex;
  align-items: center;
  gap: .4rem;
  cursor: pointer;
}
.header_icon_item{
  width: 2rem;
}
.header_icon{
  width: calc(50% - 4.65rem);
}
.header_menu_item {
  color: currentColor;
}
@media screen and (max-width:991px) {
  .header_menu_item  {
    font-size: 2rem !important;
  }
  .header_logo_inner {
    width: 6.4rem;
  }
  .header_icon, .header_menu{
    width: auto;
  }
  .header_menu {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100dvh;
    top: -1rem;
    left: -2rem;
    justify-content: center;
    align-items: center;
    background: #F7FCEF;
    color: black;
    pointer-events: none;
}
.header_logo {
  position: relative;
}
  .header_icon{
    display: none;
  }
  .header_inner{
    justify-content: center;
    position: relative;
    align-items: center;
  }
  body .navbar-toggler-icon>span {

    display: block;
    width: 100%;
    height: .2rem;
    border-radius: .4rem;
    background-color: #015533;
    position: absolute;
    transition: 0.3s ease all;
}
  .navbar-toggler-icon-wrap {
    width: 4rem;
    padding: 1.3rem 1rem;
    height: 4rem;
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 1rem 0 #00000017;
    cursor: pointer;
    pointer-events: all;
}
body .navbar-toggler-icon>span:nth-of-type(1) {
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

body .navbar-toggler-icon>span:nth-of-type(2) {
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

body .navbar-toggler-icon>span:nth-of-type(3) {
    width: 60%;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}
body .navbar-toggler-icon:hover>span {
    width: 100%;
    transition: 0.3s ease all;
}
body .navbar-toggler-icon {
    background: transparent;
    width: 100%;
    height: 100%;
    /* margin-bottom: 5px; */
    transition: 0.3s ease all;
    position: relative;

}
body.menu-open .header_menu {
  pointer-events: all;
}
body.menu-open .navbar-toggler-icon {
    margin: 0;
    transform: rotate(180deg);
    transition: 0.3s ease all;
    opacity: 1;
}

body.menu-open .navbar-toggler-icon>span {
    width: 100%;
    height: .2rem;
    transition: 0.3s ease all;
}

body.menu-open .navbar-toggler-icon>span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

body.menu-open .navbar-toggler-icon>span:nth-child(2) {
    opacity: 0;
}

body.menu-open .navbar-toggler-icon>span:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
}
/* footer */
footer{
  background-color: #F7FCEF;
}
.footer_top_item_icon{
  width: 4rem;
}
.footer_top_item_des {
  text-align: center;
}
.footer_top_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-right: 1px solid #3333331A;
  padding-block: 3.2rem;
  padding-inline: 2.2rem;
  
}
.footer_top_item_icon{
  margin-bottom: 2rem;
}
.footer_top_item_title{
  margin-bottom: .8rem;
}
.footer_top{
  display: flex;
  border: 1px solid #3333331A;
  border-left: none;
  border-right: none;
  .footer_top_item:last-child{
    border-right: 0;
  }
}

.footer_site{
  padding-top: 6rem;
  padding-bottom: 2.7rem;
}
.footer_site_inner{
  display: flex;
  justify-content: space-between;
}
.footer_site_left{
  width: 25.364%;
}
.footer_site_right{
  width: 55.704%;
  display: flex;
  gap: 5.5rem;
}
.footer_site_right_col{
  width: 25%;
}
.footer_site_left_form{
  display: flex;
  gap: 1.3rem;
  input{
    border-radius: 4.5rem;
    border: 1px solid #3333331A;
    color: #3B3B3B80;
    background-color: #F7FCEF;
    padding: 1.3rem 0 1.3rem 1.6rem;
    flex: 1;
  }
  input:focus{
    outline: none;
  }
  button{
    background-color: #0F2A1D;
    border: none;
    border-radius: 50%;
    width: 4.6rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.footer_site_left_title{
  margin-bottom: 3.2rem;
}
.footer_site_left_des{
  margin-bottom: 1.6rem;
}
.footer_site_right_col_item{
  color: #7F7F7F;
}
.footer_site_right_col_title{
  margin-bottom: 3.2rem;
}
.footer_site_right_col_item_inner .footer_site_right_col_item:last-child{
  margin-bottom: 0;
}
.footer_site_right_col_item{
  margin-bottom: 1.6rem;
}
.footer_slogan_txt{
  font-family: "Anton";
  letter-spacing: 4rem;
  font-size: 20rem;
  text-align: center;
  line-height: 1;
}
.footer_slogan{
  padding-top: 5.7rem;
  padding-bottom: 3.5rem;
  border: 1px solid #3333331A;
}
.footer_copyright_left_txt{
  color: #3B3B3B80;
}
.footer_copyright_left{
  display: flex;
  gap: 6rem;
}
.footer_copyright_right{
  display: flex;
  gap: 1.6rem;
}
.footer_copyright{
  display: flex;
  align-items: center;
  padding-block: 3.2rem;
  justify-content: space-between;
}
.footer_copyright_right_img{
  width: 2.4rem;
}
.footer_copyright_right_img{
  svg{
    color: #7F7F7F;
  }
  &:hover svg{
    color:#1D1D1D;
  }
}
.footer_site_right_col_item{
  position: relative;
}
@media screen and (max-width:991px) {
  .footer_copyright {
    padding-block: 2.4rem;
  }
  .footer_site_inner {
    flex-direction: column;
    gap: 4rem;
  }
  .footer_site{
    padding-block: 4rem;
  }
  .footer_slogan_txt{
    font-size: 7rem;
    letter-spacing: 2rem;
  }
  .footer_site_left{
    width: 100%;
    order: 2;
  }
  .footer_site_left_form {
    gap: .8rem;
    max-width: 40rem;
  }
  .footer_site_right{
    gap: 2.4rem;
    width: 100%;
  }
  .footer_site_right_col_item {
    margin-bottom: 1.2rem;
  }
  .footer_site_right_col_title {
    margin-bottom: 2rem;
  }
  .footer_site_left_title {
    margin-bottom: .6rem;
  }
  .footer_site_left_des {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width:767px){
  .cursor {
    display: none;
  }
  .header_logo_inner {
    width: 4.4rem;
  }
  .header {
    padding-block: 1rem;
  }
  .footer_site_left_des{
    max-width: 28rem;
  }
  .footer_slogan_txt{
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
  }
  .footer_top{
    flex-wrap: wrap;
  }
  .footer_top{
    .footer_top_item:first-child, .footer_top_item:nth-child(2){
      border-bottom: 1px solid #3333331A;
    }
  }
  .footer_top_item{
    width: 50%;
  }
  .footer_site_inner{
    flex-direction: column;
    row-gap: 3.2rem;
  }
   .footer_site_right{
    width: 100%;
    gap: 0;
  }
  .footer_site_left {
    margin-inline: -2rem;
    padding-inline: 2rem;
    width: calc(100% + 4rem);
    padding-top: 3.2rem;
    border-top: 1px solid #3333331A;
  }
  .footer_site_right{
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  .footer_site_right_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .footer_site_right_col_item_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_site_right_col_title {
    font-size: 1.4rem;
  }
  .footer_site{
    padding-top: 3.2rem;
  }
  .footer_slogan{
    padding-top: 4.5rem;
    padding-bottom: 3rem;
  }
  .footer_copyright_left{
    gap: .6rem;
    align-items: center;
  }
  .footer_copyright {
    padding-block: 1.2rem;
  }
  
  .footer_copyright_right{
    gap: .7rem;
  }
  .footer_copyright_right_img {
    width: 2.7rem;
  }
  .footer_site_right_col_title {
    margin-bottom: 1.5rem;
  }
  .footer_site_right_col_item {
    margin-bottom: .8rem;
  }
}


/* menu_cart */
.menu_cart{
  pointer-events: none;
  transition: all .6s ease;
  opacity: 0;
  &.active{
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
    .menu_cart_overlay{
      opacity: 1;
    }
    .menu_cart_inner{
      transform: translateX(0);
    }
  }
}
.menu_cart_overlay{
  background-color: #1D1D1D80;
  z-index: 1111;
  position: absolute;
  transition: all .6s ease;
  inset: 0;
  opacity: 0;
}
.menu_cart_title{
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 1.6rem;
}
.menu_cart_content_item_info_price_old{
  color: #7F7F7F;
  text-decoration: line-through;
}
.menu_cart_content_item_img{
  width: 8.7rem;
}
.menu_cart_content{
  overflow-y: auto;
  height: 76.5vh;
}
.menu_cart_content_item{
  padding-block: 3.2rem;
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  gap: 3.2rem;
}
.menu_cart_content_item_remove{
  position: absolute;
  right: 0;
  cursor: pointer;
  bottom: 3.2rem;
}
.menu_cart_icon{
  width: 2.4rem;
  cursor: pointer;

}
.menu_cart_head{
  height: 4.6vh;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.menu_cart_inner{
  overflow-y: auto;
  width: 59.6rem;
  background-color: #F7FCEF;
  padding: 4vh;
  position: relative;
  z-index: 1000000;
  transform: translateX(100%);
  transition: all .6s ease;
}
.menu_cart{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: right;
  z-index: 1000000000;
}
.menu_cart_content_item_img_overlay{
  padding-top: 126.43%;
}
.menu_cart_content_item_img{
  height: max-content;
}
.menu_cart_content_item_info_amount_increate, .menu_cart_content_item_info_amount_reduce {
  width: 3.2rem;
  display: flex;
  cursor: pointer;
}
.menu_cart_content_item_info_amount, .menu_cart_content_item_info_price{
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.menu_cart_content_item_info_price{
  gap: .4rem;
}
.menu_cart_content_item_info_price{
  margin-bottom: 1.4rem;
}
.menu_cart_content_item_info_cate{
  margin-bottom: .4rem;
}
.menu_cart_content_item_info_name{
  margin-bottom: .4rem;
}
.menu_cart_button_total{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.menu_cart_button_check{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: .8rem;
  color: #fff;
  border-radius: 4.5rem;
  background-color: #0F2A1D;
  padding-block: 1.3rem ;
  cursor: pointer;
}
.menu_cart_button_check_icon{
  width: 2rem;
}
.menu_cart_button{
  height: 11.1vh;
  position: absolute;
  bottom: 4vh;
  background-color: #F7FCEF;
  border-top: 1px solid #ccc;
  left: 3.2rem;
  right: 3.2rem;
}