@charset "utf-8";


@font-face {
    font-family: "Figtree";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Figtree-Regular.woff2");
}
@font-face {
    font-family: "Figtree";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Figtree-Medium.woff2");
}
body {
    font-family: "Figtree", sans-serif;
}